    .loginDiseño {
        background-color: black;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/disenoProyecto.png");
        background-size: cover;
        height: 100%;
        background-repeat: repeat-y;
        background-size: cover;
        background-position: center center;
    }
    
    .CardLogin {
        height: 85%;
        background-color: #f2f2f2bb;
        border-radius: 15px;
    }
    
    .ImgagenLogin {
        border-radius: 15px;
    }
    
    .FormularioLogin {
        margin-top: 37%;
        background-color: rgba(140, 137, 137, 0.426);
    }
    
    .BotonLogin {
        background-color: #337449;
        border-color: #29613b;
    }
    
    .BotonLogin:hover {
        background-color: #30593d;
        border-color: #30593d;
    }
    
    .BotonLogin:active {
        background-color: #2a7b45 !important;
        border-color: #30593d;
    }
    
    .footerLogin {
        background-color: rgba(140, 137, 137, 0.426);
        text-align: center;
        color: #433e3e;
    }