<div class="container-fluid ">
    <div class="row">
        <div class="col-12 toolbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark toolbar">
                <a class="navbar-brand chubbamarillo" href="#">ITAM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item bordeAmarillo">
                            <a class="nav-link  mr-1 ml-1" routerLink="/principal">Principal <span
                  class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item bordeAmarillo active">
                            <a class="nav-link mr-1 ml-1" rotuerLink="/registro">Equipo</a>
                        </li>
                        <li class="nav-item bordeAmarillo">
                            <a class="nav-link  mr-1 ml-1" href="#">Seguro</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-12 imaagenconFondo">
            <div class="col-12 divFormulario ">
                <div class="row ">
                    <div class="col-12 divConFondoOlas">
                        <div class="row mb-5 ml-3">
                            <div class="col">
                                <img src="../../assets/logo.png" style="height: 105%;" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-10 pl-0 divCartBlanca">
                                <div class="col-8 pt-4 pl-3  tituloFormulario">
                                    IMPORTAN-3
                                </div>
                                <!-------------------------------------------- Div donde se encuentran los pasos------------------------------- -->
                                <mat-horizontal-stepper class="divAngularMaterial" labelPosition=" bottom " #stepper>
                                    <mat-step label="Dirección ">
                                        <div class="row fondoAzul " style="height: 400px;">
                                            <div class="col-5 " style="background-color: white;">
                                                <div class="row mt-5 mb-5 ml-2">
                                                    <div class="col-10">
                                                        <img src="../../assets/registroparte3.png" class="img-fluid rounded" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- FORMULARIO PARTE 1 -->
                                            <div class="col pl-5 pr-5 align-self-center">
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <h1>Bienvenido</h1>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">Area Metropolitana</label>
                                                    </div>
                                                    <select class="custom-select" (change)="hola(i)" [(ngModel)]="estadoEscogido" id="inputGroupSelect01">
                                                        
                                                        
                                                        <option *ngFor="let estado of Estado; let i = index" [value]="i">{{estado}}</option>
                                                    </select>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="inputGroupSelect01">Municipio</label>
                                                    </div>
                                                    <select class="custom-select" id="inputGroupSelect01">
                                                        <option *ngFor="let municipio of municipiosMostrar; let i = index" [value]="i">{{municipio.municipio}}</option>
                                                    </select>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-12">
                                                        <!-- <a class="botonSiguiente" (click)="hola()">Siguiente</a> -->
                                                        <button class="botonSiguiente" mat-button matStepperNext>Siguiente</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-step>
                                    <mat-step label="Cobertura">
                                        <div class="row fondoAzul " style="height: 400px;">
                                            <div class="col pl-3 pr-3">
                                                <div class="row mb-3 mt-5">
                                                    <div class="col-12">
                                                        <h1>Coberturas</h1>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <button class="botonSiguiente botonCovertura1 ml-5 mr-5" [ngStyle]="botonCoverturaColor(0)" (click)="tipodeCovertura(0)" mat-button>Cobertura Limitada</button>
                                                    <button class=" botonSiguiente botonCovertura2 ml-5 mr-5 mt-4 " [ngStyle]="botonCoverturaColor(1)" (click)="tipodeCovertura(1)" mat-button>Cobertura Amplia</button>
                                                    <button class="botonSiguiente ml-5 mr-5 mt-4 " [ngStyle]="botonCoverturaColor(2)" (click)="tipodeCovertura(2)" mat-button>Cobertura Premium</button>

                                                </div>
                                            </div>
                                            <div class="col-7 " style="background-color: white; ">
                                                <div class="row ml-5 mt-5 text-dark tituloCobertura">
                                                    {{tipoDeCobertura}}
                                                </div>
                                                <div class="row ml-5 mt-4 text-dark">
                                                    {{descripcion}}
                                                </div>
                                            </div>

                                        </div>
                                    </mat-step>
                                    <mat-step style="height: 500px; background-color: blue; ">
                                        <div style="height: 900px; background-color: aqua; ">

                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 divGris ">

            </div>
            <div class="col-12 divFooter ">
            </div>
        </div>
    </div>
</div>